<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  android:label="Fork Client"
  android:versionCode="408708"
  android:versionName="10.2.9.0"
  android:installLocation="0"
  android:compileSdkVersion="33"
  android:compileSdkVersionCodename="13"
  package="org.forkgram.messenger"
  platformBuildVersionCode="33"
  platformBuildVersionName="13">
  <uses-sdk
    android:minSdkVersion="19"
    android:targetSdkVersion="30">
  </uses-sdk>
  <supports-screens
    android:anyDensity="true"
    android:smallScreens="true"
    android:normalScreens="true"
    android:largeScreens="true"
    android:resizeable="true"
    android:xlargeScreens="true">
  </supports-screens>
  <uses-feature
    android:glEsVersion="0x00020000"
    android:required="false">
  </uses-feature>
  <uses-feature
    android:name="android.hardware.telephony"
    android:required="false">
  </uses-feature>
  <uses-feature
    android:name="android.hardware.wifi"
    android:required="false">
  </uses-feature>
  <uses-feature
    android:name="android.hardware.screen.PORTRAIT"
    android:required="false">
  </uses-feature>
  <uses-feature
    android:name="android.hardware.microphone"
    android:required="false">
  </uses-feature>
  <uses-feature
    android:name="android.hardware.camera"
    android:required="false">
  </uses-feature>
  <uses-feature
    android:name="android.hardware.camera2"
    android:required="false">
  </uses-feature>
  <uses-feature
    android:name="android.hardware.sensor.proximity"
    android:required="false">
  </uses-feature>
  <uses-permission
    android:name="android.permission.READ_CLIPBOARD">
  </uses-permission>
  <uses-permission
    android:name="android.permission.BLUETOOTH_CONNECT">
  </uses-permission>
  <uses-permission
    android:name="android.permission.INTERNET">
  </uses-permission>
  <uses-permission
    android:name="android.permission.FOREGROUND_SERVICE">
  </uses-permission>
  <uses-permission
    android:name="android.permission.RECORD_AUDIO">
  </uses-permission>
  <uses-permission
    android:name="android.permission.MODIFY_AUDIO_SETTINGS">
  </uses-permission>
  <uses-permission
    android:name="android.permission.ACCESS_NETWORK_STATE">
  </uses-permission>
  <uses-permission
    android:name="android.permission.ACCESS_WIFI_STATE">
  </uses-permission>
  <uses-permission
    android:name="android.permission.WAKE_LOCK">
  </uses-permission>
  <uses-permission
    android:name="android.permission.READ_EXTERNAL_STORAGE">
  </uses-permission>
  <uses-permission
    android:name="android.permission.READ_MEDIA_IMAGES">
  </uses-permission>
  <uses-permission
    android:name="android.permission.READ_MEDIA_VIDEO">
  </uses-permission>
  <uses-permission
    android:name="android.permission.READ_MEDIA_AUDIO">
  </uses-permission>
  <uses-permission
    android:name="android.permission.GET_ACCOUNTS">
  </uses-permission>
  <uses-permission
    android:name="android.permission.READ_CONTACTS">
  </uses-permission>
  <uses-permission
    android:name="android.permission.WRITE_CONTACTS">
  </uses-permission>
  <uses-permission
    android:name="android.permission.MANAGE_ACCOUNTS">
  </uses-permission>
  <uses-permission
    android:name="android.permission.READ_PROFILE">
  </uses-permission>
  <uses-permission
    android:name="android.permission.WRITE_SYNC_SETTINGS">
  </uses-permission>
  <uses-permission
    android:name="android.permission.READ_SYNC_SETTINGS">
  </uses-permission>
  <uses-permission
    android:name="android.permission.AUTHENTICATE_ACCOUNTS">
  </uses-permission>
  <uses-permission
    android:name="android.permission.VIBRATE">
  </uses-permission>
  <uses-permission
    android:name="android.permission.SYSTEM_ALERT_WINDOW">
  </uses-permission>
  <uses-permission
    android:name="android.permission.READ_PHONE_STATE">
  </uses-permission>
  <uses-permission
    android:name="android.permission.RECEIVE_BOOT_COMPLETED">
  </uses-permission>
  <uses-permission
    android:name="android.permission.USE_FINGERPRINT">
  </uses-permission>
  <uses-permission
    android:name="android.permission.USE_BIOMETRIC">
  </uses-permission>
  <uses-permission
    android:name="android.permission.INSTALL_SHORTCUT">
  </uses-permission>
  <uses-permission
    android:name="com.android.launcher.permission.INSTALL_SHORTCUT">
  </uses-permission>
  <uses-permission
    android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT">
  </uses-permission>
  <uses-permission
    android:name="android.permission.CAMERA">
  </uses-permission>
  <uses-permission
    android:name="android.permission.BLUETOOTH">
  </uses-permission>
  <uses-permission
    android:name="android.permission.MANAGE_OWN_CALLS">
  </uses-permission>
  <uses-permission
    android:name="android.permission.USE_FULL_SCREEN_INTENT">
  </uses-permission>
  <uses-permission
    android:name="android.permission.REQUEST_INSTALL_PACKAGES">
  </uses-permission>
  <uses-permission
    android:name="android.permission.READ_PHONE_NUMBERS">
  </uses-permission>
  <uses-permission
    android:name="android.permission.POST_NOTIFICATIONS">
  </uses-permission>
  <uses-permission
    android:name="com.sec.android.provider.badge.permission.READ">
  </uses-permission>
  <uses-permission
    android:name="com.sec.android.provider.badge.permission.WRITE">
  </uses-permission>
  <uses-permission
    android:name="com.htc.launcher.permission.READ_SETTINGS">
  </uses-permission>
  <uses-permission
    android:name="com.htc.launcher.permission.UPDATE_SHORTCUT">
  </uses-permission>
  <uses-permission
    android:name="com.sonyericsson.home.permission.BROADCAST_BADGE">
  </uses-permission>
  <uses-permission
    android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE">
  </uses-permission>
  <uses-permission
    android:name="com.anddoes.launcher.permission.UPDATE_COUNT">
  </uses-permission>
  <uses-permission
    android:name="com.majeur.launcher.permission.UPDATE_BADGE">
  </uses-permission>
  <uses-permission
    android:name="com.huawei.android.launcher.permission.CHANGE_BADGE">
  </uses-permission>
  <uses-permission
    android:name="com.huawei.android.launcher.permission.READ_SETTINGS">
  </uses-permission>
  <uses-permission
    android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS">
  </uses-permission>
  <uses-permission
    android:name="android.permission.READ_APP_BADGE">
  </uses-permission>
  <uses-permission
    android:name="com.oppo.launcher.permission.READ_SETTINGS">
  </uses-permission>
  <uses-permission
    android:name="com.oppo.launcher.permission.WRITE_SETTINGS">
  </uses-permission>
  <uses-permission
    android:name="me.everything.badger.permission.BADGE_COUNT_READ">
  </uses-permission>
  <uses-permission
    android:name="me.everything.badger.permission.BADGE_COUNT_WRITE">
  </uses-permission>
  <uses-permission
    android:name="com.android.vending.BILLING">
  </uses-permission>
  <uses-permission
    android:name="android.permission.REQUEST_INSTALL_PACKAGES">
  </uses-permission>
  <uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE">
  </uses-permission>
  <uses-permission
    android:name="android.permission.ACCESS_BACKGROUND_LOCATION">
  </uses-permission>
  <permission
    android:name="org.forkgram.messenger.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
    android:protectionLevel="0x00000002">
  </permission>
  <uses-permission
    android:name="org.forkgram.messenger.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION">
  </uses-permission>
  <uses-feature
    android:name="android.hardware.location.network"
    android:required="false">
  </uses-feature>
  <uses-feature
    android:name="android.hardware.location.gps"
    android:required="false">
  </uses-feature>
  <application
    android:theme="@7F0F0025"
    android:name="org.telegram.messenger.ApplicationLoaderImpl"
    android:manageSpaceActivity="org.telegram.ui.ExternalActionActivity"
    android:backupAgent="org.telegram.messenger.BackupAgent"
    android:allowBackup="true"
    android:restoreAnyVersion="true"
    android:hardwareAccelerated="@7F040001"
    android:largeHeap="true"
    android:supportsRtl="false"
    android:appComponentFactory="androidx.core.app.CoreComponentFactory"
    android:allowAudioPlaybackCapture="true"
    android:requestLegacyExternalStorage="true"
    android:preserveLegacyExternalStorage="true">
    <activity
      android:theme="@7F0F0025"
      android:name="org.telegram.ui.LaunchActivity"
      android:exported="true"
      android:launchMode="2"
      android:configChanges="0x000006B0"
      android:windowSoftInputMode="0x00000010"
      android:hardwareAccelerated="@7F040001">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN">
        </action>
      </intent-filter>
      <intent-filter>
        <action
          android:name="android.intent.action.SEND">
        </action>
        <category
          android:name="android.intent.category.DEFAULT">
        </category>
        <data
          android:mimeType="image/*">
        </data>
      </intent-filter>
      <intent-filter>
        <action
          android:name="android.intent.action.SEND">
        </action>
        <category
          android:name="android.intent.category.DEFAULT">
        </category>
        <data
          android:mimeType="video/*">
        </data>
      </intent-filter>
      <intent-filter>
        <action
          android:name="android.intent.action.SEND_MULTIPLE">
        </action>
        <category
          android:name="android.intent.category.DEFAULT">
        </category>
        <data
          android:mimeType="image/*">
        </data>
      </intent-filter>
      <intent-filter>
        <action
          android:name="android.intent.action.SEND">
        </action>
        <category
          android:name="android.intent.category.DEFAULT">
        </category>
        <data
          android:mimeType="text/plain">
        </data>
      </intent-filter>
      <intent-filter>
        <action
          android:name="android.intent.action.SEND">
        </action>
        <category
          android:name="android.intent.category.DEFAULT">
        </category>
        <data
          android:mimeType="*/*">
        </data>
      </intent-filter>
      <intent-filter>
        <action
          android:name="android.intent.action.SEND_MULTIPLE">
        </action>
        <category
          android:name="android.intent.category.DEFAULT">
        </category>
        <data
          android:mimeType="*/*">
        </data>
      </intent-filter>
      <intent-filter>
        <action
          android:name="android.intent.action.VIEW">
        </action>
        <category
          android:name="android.intent.category.DEFAULT">
        </category>
        <data
          android:mimeType="vnd.android.cursor.item/vnd.org.telegram.messenger.android.profile">
        </data>
      </intent-filter>
      <intent-filter>
        <action
          android:name="android.intent.action.VIEW">
        </action>
        <category
          android:name="android.intent.category.DEFAULT">
        </category>
        <category
          android:name="android.intent.category.BROWSABLE">
        </category>
        <data
          android:scheme="http"
          android:host="telegram.me">
        </data>
        <data
          android:scheme="https"
          android:host="telegram.me">
        </data>
        <data
          android:scheme="http"
          android:host="telegram.dog">
        </data>
        <data
          android:scheme="https"
          android:host="telegram.dog">
        </data>
        <data
          android:scheme="http"
          android:host="t.me">
        </data>
        <data
          android:scheme="https"
          android:host="t.me">
        </data>
      </intent-filter>
      <intent-filter
        android:icon="@7F0C0000"
        android:priority="1"
        android:roundIcon="@7F0C0001">
        <action
          android:name="android.intent.action.VIEW">
        </action>
        <category
          android:name="android.intent.category.BROWSABLE">
        </category>
        <category
          android:name="android.intent.category.DEFAULT">
        </category>
        <data
          android:scheme="tg">
        </data>
      </intent-filter>
      <intent-filter>
        <action
          android:name="org.telegram.messenger.CREATE_STICKER_PACK">
        </action>
        <category
          android:name="android.intent.category.DEFAULT">
        </category>
        <data
          android:mimeType="*/*">
        </data>
      </intent-filter>
      <meta-data
        android:name="android.service.chooser.chooser_target_service"
        android:value="androidx.sharetarget.ChooserTargetServiceCompat">
      </meta-data>
      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@7F110009">
      </meta-data>
    </activity>
    <activity-alias
      android:icon="@7F0C0008"
      android:name="org.telegram.messenger.DefaultIcon"
      android:enabled="true"
      android:exported="true"
      android:targetActivity="org.telegram.ui.LaunchActivity"
      android:roundIcon="@7F0C0009">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN">
        </action>
        <category
          android:name="android.intent.category.LAUNCHER">
        </category>
        <category
          android:name="android.intent.category.MULTIWINDOW_LAUNCHER">
        </category>
      </intent-filter>
    </activity-alias>
    <activity-alias
      android:icon="@7F0C0002"
      android:name="org.telegram.messenger.OriginalIcon"
      android:enabled="false"
      android:exported="true"
      android:targetActivity="org.telegram.ui.LaunchActivity"
      android:roundIcon="@7F0C0003">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN">
        </action>
        <category
          android:name="android.intent.category.LAUNCHER">
        </category>
        <category
          android:name="android.intent.category.MULTIWINDOW_LAUNCHER">
        </category>
      </intent-filter>
      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@7F110009">
      </meta-data>
    </activity-alias>
    <activity-alias
      android:icon="@7F0C001C"
      android:name="org.telegram.messenger.VintageIcon"
      android:enabled="false"
      android:exported="true"
      android:targetActivity="org.telegram.ui.LaunchActivity"
      android:roundIcon="@7F0C001D">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN">
        </action>
        <category
          android:name="android.intent.category.LAUNCHER">
        </category>
        <category
          android:name="android.intent.category.MULTIWINDOW_LAUNCHER">
        </category>
      </intent-filter>
      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@7F110009">
      </meta-data>
    </activity-alias>
    <activity-alias
      android:icon="@7F0C0012"
      android:name="org.telegram.messenger.AquaIcon"
      android:enabled="false"
      android:exported="true"
      android:targetActivity="org.telegram.ui.LaunchActivity"
      android:roundIcon="@7F0C0013">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN">
        </action>
        <category
          android:name="android.intent.category.LAUNCHER">
        </category>
        <category
          android:name="android.intent.category.MULTIWINDOW_LAUNCHER">
        </category>
      </intent-filter>
      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@7F110009">
      </meta-data>
    </activity-alias>
    <activity-alias
      android:icon="@7F0C0010"
      android:name="org.telegram.messenger.PremiumIcon"
      android:enabled="false"
      android:exported="true"
      android:targetActivity="org.telegram.ui.LaunchActivity"
      android:roundIcon="@7F0C0011">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN">
        </action>
        <category
          android:name="android.intent.category.LAUNCHER">
        </category>
        <category
          android:name="android.intent.category.MULTIWINDOW_LAUNCHER">
        </category>
      </intent-filter>
      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@7F110009">
      </meta-data>
    </activity-alias>
    <activity-alias
      android:icon="@7F0C0017"
      android:name="org.telegram.messenger.TurboIcon"
      android:enabled="false"
      android:exported="true"
      android:targetActivity="org.telegram.ui.LaunchActivity"
      android:roundIcon="@7F0C0018">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN">
        </action>
        <category
          android:name="android.intent.category.LAUNCHER">
        </category>
        <category
          android:name="android.intent.category.MULTIWINDOW_LAUNCHER">
        </category>
      </intent-filter>
      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@7F110009">
      </meta-data>
    </activity-alias>
    <activity-alias
      android:icon="@7F0C000B"
      android:name="org.telegram.messenger.NoxIcon"
      android:enabled="false"
      android:exported="true"
      android:targetActivity="org.telegram.ui.LaunchActivity"
      android:roundIcon="@7F0C000C">
      <intent-filter>
        <action
          android:name="android.intent.action.MAIN">
        </action>
        <category
          android:name="android.intent.category.LAUNCHER">
        </category>
        <category
          android:name="android.intent.category.MULTIWINDOW_LAUNCHER">
        </category>
      </intent-filter>
      <meta-data
        android:name="android.app.shortcuts"
        android:resource="@7F110009">
      </meta-data>
    </activity-alias>
    <activity-alias
      android:name="org.telegram.ui.CallsActivity"
      android:permission="android.permission.CALL_PHONE"
      android:exported="true"
      android:targetActivity="org.telegram.ui.LaunchActivity">
      <intent-filter>
        <action
          android:name="android.intent.action.VIEW">
        </action>
        <category
          android:name="android.intent.category.DEFAULT">
        </category>
        <data
          android:mimeType="vnd.android.cursor.item/vnd.org.telegram.messenger.android.call">
        </data>
        <data
          android:mimeType="vnd.android.cursor.item/vnd.org.telegram.messenger.android.call.video">
        </data>
      </intent-filter>
    </activity-alias>
    <activity
      android:name="org.telegram.ui.BubbleActivity"
      android:configChanges="0x000006B0"
      android:windowSoftInputMode="0x00000010"
      android:hardwareAccelerated="@7F040001"
      android:allowEmbedded="true"
      android:documentLaunchMode="2"
      android:resizeableActivity="true">
    </activity>
    <activity
      android:theme="@7F0F0027"
      android:name="org.telegram.ui.ShareActivity"
      android:exported="true"
      android:stateNotNeeded="true"
      android:excludeFromRecents="true"
      android:configChanges="0x000006B0"
      android:windowSoftInputMode="0x00000020"
      android:hardwareAccelerated="@7F040001">
      <intent-filter
        android:icon="@7F0C0000"
        android:priority="1"
        android:roundIcon="@7F0C0001">
        <action
          android:name="android.intent.action.VIEW">
        </action>
        <category
          android:name="android.intent.category.BROWSABLE">
        </category>
        <category
          android:name="android.intent.category.DEFAULT">
        </category>
        <data
          android:scheme="tgb">
        </data>
      </intent-filter>
    </activity>
    <activity
      android:name="org.telegram.ui.ExternalActionActivity"
      android:exported="true"
      android:configChanges="0x000006B0"
      android:windowSoftInputMode="0x00000020"
      android:hardwareAccelerated="@7F040001">
      <intent-filter
        android:icon="@7F0C0000"
        android:roundIcon="@7F0C0001">
        <action
          android:name="org.telegram.passport.AUTHORIZE">
        </action>
        <category
          android:name="android.intent.category.DEFAULT">
        </category>
      </intent-filter>
    </activity>
    <activity
      android:name="org.telegram.ui.ChatsWidgetConfigActivity"
      android:exported="true"
      android:configChanges="0x000006B0"
      android:windowSoftInputMode="0x00000020"
      android:hardwareAccelerated="@7F040001">
      <intent-filter
        android:icon="@7F0C0000"
        android:roundIcon="@7F0C0001">
        <action
          android:name="android.appwidget.action.APPWIDGET_CONFIGURE">
        </action>
      </intent-filter>
    </activity>
    <activity
      android:name="org.telegram.ui.ContactsWidgetConfigActivity"
      android:exported="true"
      android:configChanges="0x000006B0"
      android:windowSoftInputMode="0x00000020"
      android:hardwareAccelerated="@7F040001">
      <intent-filter
        android:icon="@7F0C0000"
        android:roundIcon="@7F0C0001">
        <action
          android:name="android.appwidget.action.APPWIDGET_CONFIGURE">
        </action>
      </intent-filter>
    </activity>
    <activity
      android:name="org.telegram.messenger.OpenChatReceiver"
      android:exported="true"
      android:configChanges="0x000006B0">
    </activity>
    <activity
      android:theme="@7F0F0024"
      android:name="org.telegram.ui.PopupNotificationActivity"
      android:taskAffinity=""
      android:excludeFromRecents="true"
      android:launchMode="2"
      android:configChanges="0x00000FF0"
      android:windowSoftInputMode="0x00000012"
      android:resizeableActivity="false">
    </activity>
    <activity
      android:theme="@7F0F0027"
      android:name="org.telegram.ui.VoIPPermissionActivity"
      android:taskAffinity="org.forkgram.messenger.voip"
      android:excludeFromRecents="true"
      android:configChanges="0x000006B0">
    </activity>
    <activity
      android:theme="@7F0F0028"
      android:name="org.telegram.ui.VoIPFeedbackActivity"
      android:taskAffinity="org.forkgram.messenger.voip_feedback"
      android:excludeFromRecents="true"
      android:configChanges="0x000006B0">
    </activity>
    <receiver
      android:name="org.telegram.messenger.AutoMessageHeardReceiver"
      android:exported="false">
      <intent-filter>
        <action
          android:name="org.telegram.messenger.ACTION_MESSAGE_HEARD">
        </action>
      </intent-filter>
    </receiver>
    <receiver
      android:name="org.telegram.messenger.NotificationsDisabledReceiver"
      android:exported="false">
      <intent-filter>
        <action
          android:name="android.app.action.NOTIFICATION_CHANNEL_BLOCK_STATE_CHANGED">
        </action>
      </intent-filter>
    </receiver>
    <receiver
      android:name="org.telegram.messenger.AutoMessageReplyReceiver"
      android:exported="false">
      <intent-filter>
        <action
          android:name="org.telegram.messenger.ACTION_MESSAGE_REPLY">
        </action>
      </intent-filter>
    </receiver>
    <receiver
      android:name="org.telegram.messenger.CallReceiver"
      android:exported="false">
      <intent-filter>
        <action
          android:name="android.intent.action.PHONE_STATE">
        </action>
      </intent-filter>
    </receiver>
    <service
      android:name="org.telegram.messenger.AuthenticatorService"
      android:exported="true">
      <intent-filter>
        <action
          android:name="android.accounts.AccountAuthenticator">
        </action>
      </intent-filter>
      <meta-data
        android:name="android.accounts.AccountAuthenticator"
        android:resource="@7F110001">
      </meta-data>
    </service>
    <service
      android:name="org.telegram.messenger.ContactsSyncAdapterService"
      android:exported="true">
      <intent-filter>
        <action
          android:name="android.content.SyncAdapter">
        </action>
      </intent-filter>
      <meta-data
        android:name="android.content.SyncAdapter"
        android:resource="@7F11000A">
      </meta-data>
      <meta-data
        android:name="android.provider.CONTACTS_STRUCTURE"
        android:resource="@7F110005">
      </meta-data>
    </service>
    <service
      android:name="org.telegram.messenger.KeepAliveJob"
      android:permission="android.permission.BIND_JOB_SERVICE"
      android:exported="false">
    </service>
    <service
      android:name="org.telegram.messenger.BringAppForegroundService"
      android:enabled="true"
      android:exported="true">
    </service>
    <service
      android:name="org.telegram.messenger.NotificationsService"
      android:enabled="true"
      android:exported="true">
    </service>
    <service
      android:name="org.telegram.messenger.NotificationRepeat"
      android:exported="false">
    </service>
    <service
      android:name="org.telegram.messenger.VideoEncodingService"
      android:enabled="true"
      android:exported="true">
    </service>
    <service
      android:name="org.telegram.ui.Stories.recorder.StoryUploadingService"
      android:enabled="true"
      android:exported="true">
    </service>
    <service
      android:name="org.telegram.messenger.ImportingService"
      android:enabled="true"
      android:exported="true">
    </service>
    <service
      android:name="org.telegram.messenger.LocationSharingService"
      android:enabled="true"
      android:exported="true"
      android:foregroundServiceType="0x00000008">
    </service>
    <service
      android:name="org.telegram.messenger.voip.VoIPService"
      android:enabled="true"
      android:foregroundServiceType="0x000000E2">
    </service>
    <service
      android:name="org.telegram.messenger.MusicPlayerService"
      android:enabled="true"
      android:exported="true"
      android:foregroundServiceType="0x00000002">
    </service>
    <service
      android:name="org.telegram.messenger.MusicBrowserService"
      android:exported="true">
      <intent-filter>
        <action
          android:name="android.media.browse.MediaBrowserService">
        </action>
      </intent-filter>
    </service>
    <service
      android:name="org.telegram.messenger.voip.TelegramConnectionService"
      android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE"
      android:exported="true">
      <intent-filter>
        <action
          android:name="android.telecom.ConnectionService">
        </action>
      </intent-filter>
    </service>
    <receiver
      android:name="org.telegram.messenger.MusicPlayerReceiver"
      android:exported="false">
      <intent-filter>
        <action
          android:name="org.telegram.android.musicplayer.close">
        </action>
        <action
          android:name="org.telegram.android.musicplayer.pause">
        </action>
        <action
          android:name="org.telegram.android.musicplayer.next">
        </action>
        <action
          android:name="org.telegram.android.musicplayer.play">
        </action>
        <action
          android:name="org.telegram.android.musicplayer.previous">
        </action>
        <action
          android:name="android.intent.action.MEDIA_BUTTON">
        </action>
        <action
          android:name="android.media.AUDIO_BECOMING_NOISY">
        </action>
      </intent-filter>
    </receiver>
    <receiver
      android:name="org.telegram.messenger.voip.VoIPMediaButtonReceiver"
      android:exported="false">
      <intent-filter>
        <action
          android:name="android.intent.action.MEDIA_BUTTON">
        </action>
      </intent-filter>
    </receiver>
    <receiver
      android:name="org.telegram.messenger.AppStartReceiver"
      android:enabled="true"
      android:exported="false">
      <intent-filter>
        <action
          android:name="org.telegram.start">
        </action>
        <action
          android:name="android.intent.action.BOOT_COMPLETED">
        </action>
      </intent-filter>
    </receiver>
    <receiver
      android:name="org.telegram.messenger.RefererReceiver"
      android:permission="android.permission.INSTALL_PACKAGES"
      android:exported="true">
      <intent-filter>
        <action
          android:name="com.android.vending.INSTALL_REFERRER">
        </action>
      </intent-filter>
    </receiver>
    <receiver
      android:name="org.telegram.messenger.WearReplyReceiver"
      android:enabled="true">
    </receiver>
    <receiver
      android:name="org.telegram.messenger.StopLiveLocationReceiver"
      android:enabled="true">
    </receiver>
    <receiver
      android:name="org.telegram.messenger.PopupReplyReceiver"
      android:enabled="true">
    </receiver>
    <receiver
      android:name="org.telegram.messenger.NotificationCallbackReceiver"
      android:enabled="true"
      android:exported="false">
    </receiver>
    <receiver
      android:name="org.telegram.messenger.ShareBroadcastReceiver"
      android:enabled="true">
    </receiver>
    <receiver
      android:name="org.telegram.messenger.CustomTabsCopyReceiver"
      android:enabled="true">
    </receiver>
    <receiver
      android:name="org.telegram.messenger.NotificationDismissReceiver"
      android:exported="false">
    </receiver>
    <receiver
      android:name="org.telegram.messenger.voip.VoIPActionsReceiver"
      android:exported="false">
    </receiver>
    <provider
      android:name="androidx.core.content.FileProvider"
      android:exported="false"
      android:authorities="org.forkgram.messenger.provider"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@7F110008">
      </meta-data>
    </provider>
    <provider
      android:name="org.telegram.messenger.NotificationImageProvider"
      android:exported="false"
      android:authorities="org.forkgram.messenger.notification_image_provider"
      android:grantUriPermissions="true">
    </provider>
    <provider
      android:name="org.telegram.messenger.voip.CallNotificationSoundProvider"
      android:exported="true"
      android:authorities="org.forkgram.messenger.call_sound_provider">
    </provider>
    <receiver
      android:name="org.telegram.messenger.ChatsWidgetProvider"
      android:exported="false">
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@7F110004">
      </meta-data>
      <intent-filter>
        <action
          android:name="android.appwidget.action.APPWIDGET_UPDATE">
        </action>
      </intent-filter>
    </receiver>
    <service
      android:name="org.telegram.messenger.ChatsWidgetService"
      android:permission="android.permission.BIND_REMOTEVIEWS"
      android:exported="false">
    </service>
    <receiver
      android:name="org.telegram.messenger.ContactsWidgetProvider"
      android:exported="false">
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@7F110006">
      </meta-data>
      <intent-filter>
        <action
          android:name="android.appwidget.action.APPWIDGET_UPDATE">
        </action>
      </intent-filter>
    </receiver>
    <service
      android:name="org.telegram.messenger.ContactsWidgetService"
      android:permission="android.permission.BIND_REMOTEVIEWS"
      android:exported="false">
    </service>
    <service
      android:name="org.telegram.messenger.FilesMigrationService"
      android:exported="false">
    </service>
    <uses-library
      android:name="com.sec.android.app.multiwindow"
      android:required="false">
    </uses-library>
    <meta-data
      android:name="com.sec.android.support.multiwindow"
      android:value="true">
    </meta-data>
    <meta-data
      android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
      android:value="632dp">
    </meta-data>
    <meta-data
      android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
      android:value="598dp">
    </meta-data>
    <meta-data
      android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
      android:value="632dp">
    </meta-data>
    <meta-data
      android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
      android:value="598dp">
    </meta-data>
    <meta-data
      android:name="android.max_aspect"
      android:value="2.5">
    </meta-data>
    <meta-data
      android:name="com.google.android.actions"
      android:resource="@7F110000">
    </meta-data>
    <service
      android:name="androidx.sharetarget.ChooserTargetServiceCompat"
      android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE"
      android:exported="true">
      <intent-filter>
        <action
          android:name="android.service.chooser.ChooserTargetService">
        </action>
      </intent-filter>
    </service>
  </application>
</manifest>
